.container{

}
video {
    border: 1px dashed lightgray;
    width: 100%;
}
.local, .remote{
    width: 10%;
    min-width: 100px;
    display: inline-block;
}
textarea{
    width: 100%;
}
.b-video{
    padding: 10px;
    border: 1px dashed gray;
    margin: 20px;
}