<template id="session-bar-template">
    <div class="well center-block">

        <button type="button" class="btn btn-primary btn-block js-btnPhoneUp">
            <img src="images/icon-dial.png">
        </button>
        <button type="button" class="btn btn-primary btn-block js-btnPhoneDown">
            <img src="images/icon-hangup.png">
        </button>

        <div class="content">
            <content></content>
        </div>

    </div>
    <style>
        @import url(components/session-bar/session-bar.css);
    </style>
</template>
<script src="session-bar.js" type="text/javascript"></script>